{{#each students}}
<h1>Hi {{this.first_name}} {{this.last_name}}</h1>
<p>You are in class {{this.Cohort_Name}}!</p>
<h3>Hopefully it doesn't suck ass!</h3>
<h4>Sanity check: Cohort {{this.cohortID}} and Student ID {{this.studentID}}</h4>
<br>
<a href="/studentDelete/{{this.studentID}}">Delete Student</a>
<br><br>
<a href="/updateStudent/{{this.studentID}}">Update Student</a>
{{/each}}

<a href="/addStudent">Add a New Student</a>
